[data-theme='prototype'] {
  --primary-bg-color: #ffffff;
  --additional-bg-color: #f8f8f8;
  --accent-bg-color: #fbe9ba;
  --btn-icon-bg: #f4c550;
  --btn-hover-bg: #ffdc86;
  --text-color: #121417;
}
